<%= form_with model:@booking, local: true, url: event_bookings_path(@event)  do |form| %>
  
  <p>
    <%= form.label :Number_of_participants %><br>
    <%= form.number_field :no_of_pax %>
  </p>

  <p>
    <%= form.label :Special_requests %><br>
    <%= form.text_field :spec_req %>
    <%= form.hidden_field :event_id, :value => @event.id %>
  </p>    
 
  <p>
    <%= form.submit 'Submit', class:' btn btn-sm btn-outline-success'%>
  </p>
<% end %>