<div class="container">
      <div class="pt-5 text-center">
        <h2>Checkout to Reserve Booking Spot</h2>
        <p class="lead">Please check the event and booking details before checkout</p>
      </div>
<hr class='my-5'>
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span><i class="fas fa-shopping-cart"></i>&nbsp&nbsp&nbsp E V E N T &nbsp&nbsp C A R T</span>
            <span class="badge badge-primary badge-pill">1</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0"><%=@event.name%></h6>
                <small class="text-muted"><%=@event.state%>, Malaysia</small>
              </div>
              <span class="text-muted">MYR <%=@price%></span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">EARLY BIRD PROMO</h6>
                <small>Discount for Pioneers! :)</small>
              </div>
              <span class="text-success">- MYR <%=@discount%></span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (MYR)</span>
              <strong>MYR <%=@discounted_price%></strong>
            </li>
          </ul>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3"><i class="fas fa-person-booth"></i>&nbsp&nbsp&nbsp B O O K I N G &nbsp&nbsp D E T A I L S &nbsp&nbsp </h4>
          <ul class="list-group list-group-flush mb-5">
            <li class="list-group-item"><small class='text-muted'>~ B O O K I N G &nbsp F O R ~</small><br><%=@booking[:no_of_pax]%> participant(s)</li>
            <li class="list-group-item"><small class='text-muted'>~ T O T A L &nbsp T I C K E T &nbsp P R I C E ~</small><br>MYR <%=@price%></li>
            <%= form_for :checkout_form, url:event_bookings_path(@event),  html: { id: "cardForm"} do |form| %>
            <%= form.hidden_field "payment_method_nonce" %>
            <li class="list-group-item"><small class='text-muted'>~ S P E C I A L &nbsp R E Q U E S T ( S ) ~</small><br>
            <div class="input-group">
            <%= form.hidden_field :event_id, value:@event.id %>
            <%= form.text_field :spec_req, class:"form-control my-2", placeholder:'Example: I\'m vegetarian' %>
            <%= form.hidden_field :no_of_pax, value:@booking[:no_of_pax].to_i %>
            </div>
            </li>
          </ul>

          <h4 class="mb-3"><i class="fas fa-torii-gate"></i>&nbsp&nbsp&nbsp E V E N T &nbsp&nbsp D E T A I L S </h4>
          <ul class="list-group list-group-flush mb-5">
            <li class="list-group-item"><small class='text-muted'>~ N A M E ~</small><br><%=@event.name%></li>
            <li class="list-group-item"><small class='text-muted'>~ D E S C R I P T I O N ~</small><br><%=@event.description%></li>
          </ul>

          <h4 class="mb-3"><i class="fas fa-map-marked-alt"></i>&nbsp&nbsp&nbsp L O C A T I O N</h4>
          <ul class="list-group list-group-flush mb-5">
            <li class="list-group-item"><small class='text-muted'>~ A D D R E S S ~</small><br><%=@event.address%></li>
            <li class="list-group-item"><small class='text-muted'>~ P O S T A L &nbsp C O D E ~</small><br><%=@event.postal_code%></li>
            <li class="list-group-item"><small class='text-muted'>~ S T A T E ~</small><br><%=@event.state%></li>
            <li class="list-group-item"><small class='text-muted'>~ C O U N T R Y ~</small><br>Malaysia</li>
          </ul>

          <h4 class="mb-3"><i class="far fa-clock"></i>&nbsp&nbsp&nbsp E V E N T &nbsp&nbsp S C H E D U L E </h4>
          <ul class="list-group list-group-flush mb-5">
            <li class="list-group-item"><small class='text-muted'>~ D A Y &nbsp & &nbsp D A T E ~</small><br><%=@event.date.strftime('%A %d %B %Y')%></li>
            <li class="list-group-item"><small class='text-muted'>~ E V E N T &nbsp S T A R T S ~</small><br><%=@event.start_hr%> : <%=@event.start_min%></li>
            <li class="list-group-item"><small class='text-muted'>~ E V E N T &nbsp E N D S ~</small><br><%=@event.end_hr%> : <%=@event.end_min%></li>
          </ul>

            <h4 class="mb-3"><i class="far fa-credit-card"></i>&nbsp&nbsp&nbsp C H E C K O U T: &nbsp&nbsp MYR <%=@discounted_price%></h4>

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                <label class="custom-control-label" for="credit">Credit card</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="debit">Debit card</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-number">Credit Card Number</label>
                <div id="card-number" class="hosted-field"></div>
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <div id="expiration-date" class="hosted-field"></div>
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-cvv">CVV</label>
                <div id="cvv" class="hosted-field"></div>
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <%= form.submit "Make Payment", disabled: true, class: "btn btn-outline-success btn-lg btn-block mb-5", id: "submit-payment-btn" %>
            <% end %>
        </div>
      </div>
    </div>

  




<%# BRAINTREE REQUIRED %>
<script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

<!-- Load the Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>

<script>

var form = document.querySelector('#cardForm');
var submit = document.querySelector("#submit-payment-btn");
var authorization = '<%= @client_token %>';

braintree.client.create({
  // Replace this with your own authorization.
  authorization: authorization
}, function (clientErr, clientInstance) {
  if (clientErr) {
    // Handle error in client creation
    return;
  }

  braintree.hostedFields.create({
    client: clientInstance,
    styles: {
      'input': {
        'font-size': '14pt'
      },
      'input.invalid': {
        'color': 'red'
      },
      'input.valid': {
        'color': 'green'
      }
    },
    fields: {
      number: {
        selector: '#card-number',
        placeholder: '4111 1111 1111 1111'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '123'
      },
      expirationDate: {
        selector: '#expiration-date',
        placeholder: '10/2019'
      }
    }
  }, function (hostedFieldsErr, hostedFieldsInstance) {
    if (hostedFieldsErr) {
      // Handle error in Hosted Fields creation
      return;
    }

    submit.removeAttribute('disabled');

    form.addEventListener('submit', function (event) {
      event.preventDefault();

      hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
        if (tokenizeErr) {
          // Handle error in Hosted Fields tokenization
          return;
        }

        // Put `payload.nonce` into the `payment_method_nonce` input, and then
        // submit the form. Alternatively, you could send the nonce to your server
        // with AJAX.
        document.querySelector('input[name="checkout_form[payment_method_nonce]"]').value = payload.nonce;
        form.submit();
      });
    }, false);
  });
});
</script>