<div class="card-group">
    
    <% @events.each do |e| %>
        <div class="col-lg-3 col-md-6 col-sm-12 mt-3 mb-2">
            <div class="card h-100 ">

                <% if e.attachments? %>
                    <%= link_to image_tag(e.attachments[0].card.url, alt: 'Image', class:"card-img-top"), event_path(e) %>
                <% else %>
                    <img class="card-img-top" src="http://placehold.it/400x400" alt="Card image cap">
                <% end %>                

                <div class="card-body">
                    <a href=<%=event_path(e)%>><h4 class="card-title"><%=e.name%></h4></a>
                    <%=e.state%>, Malaysia
                    <p><%=e.date%>, <%=e.start_hr%><%=e.start_min%>-<%=e.end_hr%>:<%=e.end_min%> || RM<%=e.price_per_pax%> per pax </p>
                    <hr>                
                    <p class="card-text"><%=e.description%></p> 
                    <small class="text-muted">Event by: <%=e.user.first_name%> <%=e.user.last_name%></small>
                </div> 
                <div class="card-footer">
                    <small class="text-muted">Places left: <%=e.places_left%> </small>
                    <%= button_to "Join!", new_event_booking_path(e), method: :get, class:'btn btn-sm btn-light', form: {style: 'display:inline-block;float:right;'}%>
                    <%= button_to "Show", event_path(e), method: :get, class:'btn btn-sm btn-light', form: {style: 'display:inline-block;float:right;'}%>    
                    <%# Boostrap warning: use <a> instead of button tag and tabindex for browser compatibility%>
                    <% if current_user && e.within_days(5) %>
                        <a style='display:inline-block;float:right;' class='btn btn-sm btn-light weather-btn' id="event-<%=e.id%>" tabindex="-1">Weather</a>  
                    <% elsif current_user %>
                        <span style='display:inline-block;float:right;' class='btn btn-sm weather-btn text-muted' id="event-<%=e.id%>" tabindex="-1">Weather</span>  
                    <% end %>
                </div>            
            </div>
        </div> 
    <% end %>
</div>

<hr />
<%= paginate @events %>
<div class='text-center mb-3'>
<%= page_entries_info @events %>
</div>



