
<table>
<tr>
    <th>Event</th>
    <th>Description</th>
    <th>Address</th>
    <th>Postcode</th>
    <th>State</th>
    <th>Date</th>
    <th>Starts</th>
    <th>Ends</th>
    <th>RM per pax</th>
    <th>Max Pax</th> 
    <th>Action</th>    
</tr>
<% @events.each do |e| %>
<tr>
    <th><%=e.name%></th>
    <th><%=e.description%></th>
    <th><%=e.address%></th>
    <th><%=e.postal_code%></th>
    <th><%=e.state%></th>
    <th><%=e.date%></th>
    <th><%=e.start_hr%>:<%=e.start_min%></th>
    <th><%=e.end_hr%>:<%=e.end_min%></th>
    <th><%=e.price_per_pax%></th>
    <th><%=e.max_pax%></th> 
    <th>
        <%= button_to "Show", event_path(e), method: :get, class:'btn btn-sm btn-light', form: {style: 'display:inline-block;'}%>    
        <%= button_to "Join Event!", new_event_booking_path(e), method: :get, class:'btn btn-sm btn-light', form: {style: 'display:inline-block;'}%>    
    </th>   
</tr>
<% end %>
</table>