<!DOCTYPE html>
<html>
  <head>
    <title>myRaya</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <%# Boostrap CSS %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <%# Font awesome %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <%# New default font %>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

    <%# Load JQuery %>
    <script async src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id='navi-bar'>
        <a class="navbar-brand btn btn-light" href=<%=root_path%>>
          <img src=<%=image_url('logo.png')%> width="30" height="30" class="d-inline-block align-top" alt="">
          myRaya
        </a>

        <div class="ui-widget form-inline">
          <input id="search-input" type="text" placeholder="Find a festival.." class='form-control'>
        </div> 
        
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon btn-sm"></span>
        </button>    

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class='nav-item'>
              <a class="nav-link btn btn-sm btn-light" href=<%=events_path%>>Latest Events</a>
            </li>
            <% if signed_in? %> 
              <li class="nav-item">
                <a class="nav-link btn btn-sm btn-light" href=<%=new_event_path%>>Add Event!</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-sm btn-light" href="/users/<%=current_user.id%>/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-sm btn-light" href="/users/<%=current_user.id%>">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-sm btn-light" href=<%=sign_out_path%> data-method="delete">Sign Out</a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link btn btn-sm btn-light" href=<%=sign_up_path%>>Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-sm btn-light" href=<%=sign_in_path%>>Sign In</a>
              </li>
            <% end %> 
          </ul>
        </div>      
      </nav>    

      <% if flash[:notice] %>
        <div class='d-flex justify-content-center align-items-center'>
          <div class="alert alert-warning alert-dismissible fade show col-3" role="alert">
            <strong>Notice Board:</strong> 
            <hr> 
              <% flash[:notice].each do |n|%>
                <div class="notice"><%= n %></div>
              <% end %>           
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>    
      <% elsif flash[:success] %>
        <div class='d-flex justify-content-center align-items-center'>
          <div class="alert alert-success alert-dismissible fade show col-3" role="alert">
            <strong>Success!</strong> 
            <hr> 
              <% flash[:success].each do |n|%>
                <div class="notice"><%= n %></div>
              <% end %>           
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>    
      <% end %>


    <%= yield %>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

  <footer class="blog-footer">
      <small>A mission to unite Malaysians through </small><br>
        <img src=<%=image_url('logo.png')%> width="25" height="25" class="d-inline-block align-top" alt="">
        myRaya<small>
        <br>
        <small>Brought to you by<a href="https://hunshenl.github.io/" target="_blank"> hunshenInc</a>.</small><br>
        <a href="#">Back to top</a>
    </footer>
</html>

<script>
// Note that the script has to be put here due to the javascript file
// not being loaded again after a redirect from clicking a link
// It will work if it is located here as the html file is reloaded everytime
// but putting the script in application.js.erb will not reload upon redirect
// unless a manual refresh is done

$('#search-input').css('font-family', "'Oxygen', sans-serif");

$( document ).ready(function() {
  $(".alert").fadeTo(5000, 300).slideUp(300, function(){
    $(".alert").alert(300);
  });   

  var domain_name = window.location.protocol + "//" + window.location.host + "/";

  // Initialises all the autocomplete entries
  $( function() {
    var availableTags = [
      <% array = [] %>
      <% Event.all.each do |e| %>
      <% array << e.name %>
      <% array << e.state%>
      <% end %>
      <% array = array.uniq.sort %>
      <% array.each do |e|%>
        "<%=e%>",
      <% end %>
    ];
    $( "#search-input" ).autocomplete({
      source: availableTags
    });
  }); 


  // Event when enter is pressed in tags input form
  $('#search-input').keyup(function(e){
      if(e.keyCode == 13)
      {
          $(this).trigger("enterKey");
      }
  });
  

  // Code to run when enter key is run, and has an id enterKey
  $('#search-input').bind("enterKey",function(e){
    const input_val = $('#search-input').val();
    window.location.assign(domain_name + 'events?find=' + input_val)
  });
  
   
});
</script>
