<!DOCTYPE html>
<html>
  <head>
    <title>myRaya</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Boostrap CSS %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <%# New default font %>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if signed_in? %>
    <%= button_to "Sign Up", sign_up_path, method: :get, class:'btn btn-sm btn-light' %>
    <%= button_to "Sign Out", sign_out_path, method: :delete, class:'btn btn-sm btn-light' %>
    <% else %>
    <%= button_to "Sign In", sign_in_path, method: :get, class:'btn btn-sm btn-light' %>
    <%= button_to "Sign Up", sign_up_path, method: :get, class:'btn btn-sm btn-light' %>
    <% end %>

    <% if flash[:notice] %>
      <div class='d-flex justify-content-center align-items-center'>
        <div class="alert alert-warning alert-dismissible fade show col-5" role="alert">
          <strong>Cannot complete sign up</strong>             
              <div class="notice"><%= flash[:notice] %></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>    
    <% end %>
  </header>

  <body>


    <%= yield %>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
